@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';


.btn {
    display: flex;
    align-items: center;
    width: fit-content;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 0.85em;
    color: $primaryGrey;
    transition: 0.4s ease-in-out;
}

.basic {
    &:hover {
        color: $primaryGreen;
    }
}

.outlined {
    padding: 15px 30px;
    border: 2px solid #6088a4;
    color: $btnPrimary;
    font-weight: bold;
    min-width: 50%;
    @include hoverButton($btnPrimary);
}

.solid {
    background: #fff;
}

.navBar {
    text-transform: uppercase;
    color: inherit;
}

.rIcon {
    font-size: 1em;
    margin-left: 0.5em;
}

.lIcon {
    font-size: 1em;
    margin-right: 0.5em;
}