@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.card {
    //width: 100%;
      
}

.card_cover {
    position: relative;
    aspect-ratio: 3 / 2;
     

    &_image {
        position: absolute;
        width: 100%;     
        height: 100%;          
        object-fit: cover;              
    }

    &_info {
        position: absolute;
        bottom: 0px;
        padding: 0.4em $cardInfoPadding;
        display: flex;
        align-items: flex-end;
        background-color: $cardBorders;
        width: 100%;
        //min-height: 2.2em;
        

        &_text {
            @include fontSize(0.7em, normal, white);
            text-transform: uppercase;
            margin-right: 1em;
        }
    }
}

.card_details {
    padding: 1.4em $cardInfoPadding 0;
    border: 1px solid $cardBorders;
    border-top: none ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_title {
        @include fontSize(1.6rem, normal, $primaryGrey);
        margin-bottom: 1em;
    }

    &_access {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
        min-height: 2rem;
    }

    &_description {
        min-height: 3em;
        margin-bottom: 1.5em;
        line-height: 1.6em;

        &_text {
            color: $primaryGrey;
        }
    }

    &_footer {
        border-top: 1px solid $cardBorders;
        margin-top: 1.4em;
        padding: 1.2em 0;
        display: flex;
        justify-content: space-between;

        &_icons {
            flex-grow: 1;
        }
    }
}

