@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    align-items: center;
    width: 100%;
    height: fit-content;
    //height: 50px;
    background: $primaryGreen;
    color: $white;

    &_socialMedia {
        display: flex;
        margin-top: 0.6rem;
    }
}

@media (max-width: $smallScreen) {
    .footer {
        flex-direction: column;

        &_copyright {
            margin-bottom: 0.6rem;
        }
    }
}

