
@mixin grid($cols, $margin) {
    float: left;
    margin-right: $margin;
    margin-bottom: $margin;
    width: ((100% - (($cols - 1) * $margin)) / $cols);
    &:nth-child(#{$cols}n) {
        margin-right: 0;
    }
}

@mixin button-size($font, $padding) {
    font-size: $font;
    padding: $padding;
}

@mixin fontSize($size, $weight, $color) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin hoverButton($color) {
    &:hover {
        color: rgba($color, 0.5);
        
    }
}
