$primaryGrey: #666666;
$primaryGreen: #76b38f;
$secondaryGreen: #6fa284;
$white: #fff;
$btnPrimary: #6088a4;
$btnSecondary: #bd7880;
$btnThird: #d3b49d;
$cardBorders: #66666680;

//FONT
$primaryFamily: 'Open Sans', sans-serif;

//PADDING
$cardInfoPadding: 1.4em;

//FORM VARIABLES
$inputBorderColor: #858585;
$inputFocusBorderColor: #00000070;
$inputBorderRadius: 4px;
$inputColor: #000000d9;
$inputPaddingY: 16px;
$inputPaddingX: 14px;
$inputMarginY: 8px;
$inputLabelTransition: 0.4s;
$inputPlaceholderColor: #aaa;
$inputFontSize: 1rem;

//screen breakpoints
$extraSmallScreen: 380px;
$smallScreen: 600px;
$mediumScreen: 900px;
$largeScreen: 1200px;
$extra-largeScreen: 1536px;