$primaryGrey: #666666;
$primaryGreen: #76b38f;
$secondaryGreen: #6fa284;
$white: #fff;
$btnPrimary: #6088a4;
$btnSecondary: #bd7880;
$btnThird: #d3b49d;
$cardBorders: rgba(102, 102, 102, 0.5);

//FONT
$primaryFamily: 'Open Sans', sans-serif;

//PADDING
$cardInfoPadding: 1.4em;

//FORM VARIABLES
$inputBorderColor: rgba(133, 133, 133);
$inputFocusBorderColor: #00000070;
$inputBorderRadius: 4px;
$inputColor: rgba(0,0,0, 0.85);
$inputPaddingY: 16px;
$inputPaddingX: 14px;
$inputMarginY: 8px;
$inputLabelTransition: 0.4s;
$inputPlaceholderColor: #aaa;
$inputFontSize: 1rem;
