$primaryGrey: #666666;
$primaryGreen: #76b38f;
$secondaryGreen: #6fa284;
$white: #fff;
$btnPrimary: #6088a4;
$btnSecondary: #bd7880;
$btnThird: #d3b49d;
$cardBorders: rgba(102, 102, 102, 0.5);

//PADDING
$cardInfoPadding: 1.4em;
